<div id="sidebar" class="col-md-4 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="namecard" class="widget">
        <img src="https://dn-opifices.qbox.me/avatar.jpg" class="img-circle" width="140" height="140" />
        <h5>手线 (shouxian)</h5>
        <p>真名丁立，直男，INFP人格思密达。<br>
          一个做设计兼写代码的手艺人,心理学爱好者。<br>
          关注Scrum与UCD,游离于科技和人文的十字路口。<br>
        </p>
      </div>
      <%= render_cell :categories, :index %>
      <div class="widget">
        <h3>友情链接</h3>
        <div>
          <ul class="list-group">
            <li class="list-group-item"><a href="http://paoxue.com/" target="_blank">泡学网</a></li>
            <li class="list-group-item"><a href="http://ux.etao.com/" target="_blank">一淘UX</a></li>
            <li class="list-group-item"><a href="http://ued.tmall.com/" target="_blank">天猫UED</a></li>
            <li class="list-group-item"><a href="http://www.hi-id.com/" target="_blank">iD公社</a></li>
            <li class="list-group-item"><a href="http://www.nbxnq.com/" target="_blank">宁波新娘圈</a></li>
            <li class="list-group-item"><a href="http://yedingding.com/" target="_blank">叶玎玎's Blog</a></li>
            <li class="list-group-item"><a href="http://huacnlee.com/" target="_blank">huacnlee's Blog</a></li>
            <li class="list-group-item"><a href="http://railsgirlschina.com/" target="_blank">Rails Girls China</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>